@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}


.repositories {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    list-style: none;
    height: 100px;
  }

  &__link {
    text-decoration: none;
    color: $yellow;
  }
}